body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(220, 15%, 55%);
    font-size: 15px;
}
.container{
    width: 20%;
    margin: 5% 40% 0 40%;
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
@media screen and (max-width: 650px) {
    .container{
        width: 40%;
        margin: 10% 30% 0 30%;
    }
}
@media screen and (max-width: 400px) {
    .container{
        width: 50%;
        margin: 10% 25% 0 20%;
    }
}